{% extends "layout.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Tweet Title</h3>
				<p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
		</div>
		<div class="panel-body">
				Hello {{ current_user.name }} {{ current_user.first}}
		</div>

		<div class="panel-footer">Panel footer</div>
</div>

{% endblock %}
