{% extends "layout.html" %}

{% block content %}
<div class="row">
    <!-- First Blog Post -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tweet Title</h3>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
        </div>
        <div class="panel-body">
            Panel content
        </div>

        <div class="panel-footer">Panel footer</div>
    </div>

</div>

{% endblock %}
