{% extends "layout.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Your profile</div>
		 	<div class="panel-body">
		    	<h3>{{ user.username }}</h3>
				<span>{{ user.email }}</span>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">People you're following</div>
		 	<div class="panel-body">
		    	<ul class="list-unstyled">
		    		{% for followee in followees %}
						<li>
							<a href="{{ url_for('profile', user_id=followee.user_id) }}">{{ followee.first_name }} {{ followee.last_name }}</a>
						</li>
					{% endfor %}
		    	</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Your followers</div>
		 	<div class="panel-body">
		    	<ul class="list-unstyled">
		    		{% for follower in followers %}
						<li><a href="{{ url_for('profile', user_id=follower.user_id) }}">{{ follower.first_name }} {{ follower.last_name }}</a></li>
					{% endfor %}
		    	</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<h3>Posts by you</h3>
		<hr/>
		<form id="postForm" method="POST">
			<div class="form-group">
				<textarea required id="postInput" class="form-control" rows="2" name="message" placeholder="What are you up to?"></textarea>
				<small>Characters: <span id="charCounter">0</span>/100</small> 
				<button type="submit" class="btn btn-primary btn-block btn-sm">Post</button>
			</div>
		</form>
		<ul class="list-group">
			{% for message in messages %}
				<li class="list-group-item">
					{{ message.message }} <br/>
					<small>{{ message.time }}</small>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-4">
		<h3>Posts by people you followed</h3>
		<hr/>
		<ul class="list-group">
			{% for message in feed %}
				<li class="list-group-item">
					<a href="{{ url_for('profile', user_id=message.user_id) }}">
						{{ message.first_name }} {{ message.last_name }}
					</a>: {{ message.message }} <br/>
					<small>{{ message.time }}</small>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
